.form-group {
  .clearance {
    height: 14px;
    text-align: left;
    font: normal normal 900 10px/19px Lato;
    letter-spacing: 0px;
    color: #7ce7ac;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 0px;
  }
  .inspection {
    height: 39px;
    text-align: left;
    letter-spacing: 0px;
    color: #1c1d21;
    opacity: 1;
    font-size: 32px;
  }
  .group {
    display: flex;
    justify-content: space-between;
    .form-control {
      margin-top: 50px;
      display: flex;
      width: 516px;
      height: 137px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 2px 10px #0000000b;
      border: 1px solid #f5f5fa;
      border-radius: 22px;
      opacity: 1;
      .form-item {
        margin-left: 23px;
        .title {
          margin-top: 20px;
          height: 26px;
          text-align: left;
          letter-spacing: 0px;
          color: #1c1d21;
          opacity: 1;
          font-size: 20px;
        }
        .inspection-status {
          margin-top: 4px;
          height: 19px;
          text-align: left;
          font: normal normal normal 16px/19px Lato;
          letter-spacing: 0.16px;
          color: #8996af;
          opacity: 1;
          font-size: 16px;
        }
        .number {
          margin-top: 7px;
          font-size: 32px;
          height: 39px;
          text-align: left;
          letter-spacing: 0px;
          color: #ff808b;
          opacity: 1;
        }
      }
      .plane-icon {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #f8f8f8 0% 0% no-repeat padding-box;
        margin-left: 180px;
        margin-top: 35px;
      }
    }
  }
  .form-control-input {
    display: flex;
    justify-content: space-between;
    width: 901px;
    height: 86px;
    width: 1580px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000008;
    border: 1px solid #e4ebf6a2;
    border-radius: 12px;
    opacity: 1;
    margin-top: 25px;
    margin-bottom: 24px;

    .search-input {
      margin-top: 15px;
      margin-left: 14px;
      width: 901px;
      height: 56px;
      border: 1px solid #eeeeee;
      border-radius: 8px;
      opacity: 1;
    }
    ::placeholder {
      padding-left: 20px;
    }
    .date {
      margin-top: 15px;
      width: 433px;
      height: 56px;
      border: 1px solid #eeeeee;
      border-radius: 8px;
      opacity: 1;
    }
    .btn-search {
      margin-top: 15px;
      margin-right: 17px;
      width: 183px;
      height: 56px;
      background: #5e81f4 0% 0% no-repeat padding-box;
      border-radius: 8px;
      opacity: 1;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon-search {
        width: 20px;
        height: 21px;
        text-align: right;
        letter-spacing: 0px;
        color: #fafbff;
        opacity: 1;
        font-size: 20px;
      }
      .btn-name {
        width: 45px;
        height: 18px;
        text-align: left;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        font-size: 15px;
        margin-top: 10px;
      }
    }
  }
  .table-form {
    height: 1069px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #0000000b;
    border: 1px solid #f5f5fa;
    border-radius: 22px;
    opacity: 1;
  }
}

.form-filter {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  .last-updated {
    display: flex;
    .time-updated {
      margin-left: 15px;
      font-size: 14px;
      height: 20px;
      text-align: left;
      font: normal normal normal 14px/21px Lato;
      letter-spacing: 0px;
      color: #8996af;
    }
  }
  .filter {
    display: flex;
    .name-filter {
      font-size: 14px;
      height: 17px;
      text-align: right;
      letter-spacing: 0px;
      color: #8996af;
      text-transform: uppercase;
      opacity: 1;
    }
  }
  .sort {
    display: flex;
    .name-sort {
      font-size: 14px;
      height: 17px;
      text-align: right;
      letter-spacing: 0px;
      color: #8996af;
      text-transform: uppercase;
      opacity: 1;
    }
  }
  .order {
    display: flex;
    .name-order {
      font-size: 14px;
      height: 17px;
      text-align: right;
      letter-spacing: 0px;
      color: #8996af;
      text-transform: uppercase;
      opacity: 1;
    }
  }
}
