.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiTabs-flexContainer {
  background-color: #ffffff;
  .MuiTab-wrapper {
    height: 17px;
    text-align: center;
    letter-spacing: 0px;
    color: #1c1d21;
    opacity: 1;
  }
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.group-item.css-zow5z4-MuiGrid-root {
  margin-top: 16px;
  margin-left: auto;
  width: auto;
}
